<div id = "navigation">
  <nav>
    <ul>
	  <li><%= link_to 'Storefront', root_path %></li>
	  <li><%= link_to 'All Products', show_all_path %></li>
	  <li><%= link_to 'Admin Dashboard', admin_root_path %></li>
	</ul>
  </nav>
</div>

<div id="header">
	<img src="http://blog.flamingtext.com/blog/2014/11/18/flamingtext_com_1416345670_647351732.gif" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com">
	<p class="search_link"><%= link_to 'Search', search_path %></p>
</div>
