<header><%= render 'shared/header' %></header>
<main>
	<%= render 'shared/navigate' %>

	<section>
		<h2>Contact Info:</h2>
		<br />
		<article>
			<p>160 Princess Street</p>
			<p>Winnipeg, MB R3B 1K9</p>
			<p><strong>Phone: </strong>204-632-3960</p>
			<p><strong>Fax: </strong>204-949-9188</p>
		</article>
	</section>

	<section>
		<h2>Our Goal:</h2>
		<br />
		<article>
			<p>
				Purpose/Goal of the business is to sell systems that are guaranteed to run in great condition to people for a low price than what is sold by others. Along with our goal is to promote environmental sustainability, in which lessens the disposal of good hardware that may bring about harmful effects to the environment and lessen the cycle of making another same type of hardware.
			</p>
		</article>
	</section>
</main>

<%= render 'shared/footer' %>
