<header><%= render 'shared/header' %></header>
<main>

	<section>
		<h2>About Us:</h2>
		<article>
			<p>Technology nowadays progress so quickly that sometimes people tend to replace their current technology with a more advanced and one-tier level up one in a short span of time. People even sometimes tend to return their purchases over a short span in which these devices are then to be thrown away since they have been given the impression of not having its full functionality and already been used up.</p>
		<!-- </article> -->
		<!-- <article> -->
			<p>Refreshed Refurbs focuses on selling refurbished equipment/computer systems that have not been previously damaged but only returned, or whereas parts of these systems have been replaced. Systems as such in our inventory have been tested by manufacturers before arriving, and tested as well by professionals in our Testing Department ensuring its functionality and quality before it gets merchandised at our store.</p>
		<!-- </article> -->
		<!-- <article> -->
			<p>Aside from selling refurbished systems, we also sell parts and/or build CPU's into specifications people mostly look for and sell them. These parts that will be sold or be used to build our customized CPUs/Laptops to be sold are all new and built by professionals. Currently we have been serving customers all over Canada for over a year, and have over 80 employees.</p>
		</article>
	</section>

	<section>
		<h2>Our Goal:</h2>
		<article>
			<p>
				Purpose/Goal of the business is to sell systems that are guaranteed to run in great condition to people for a low price than what is sold by others. Along with our goal is to promote environmental sustainability, in which lessens the disposal of good hardware that may bring about harmful effects to the environment and lessen the cycle of making another same type of hardware.
			</p>
		</article>
	</section>
</main>

<%= render 'shared/footer' %>
