// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	//width: 900px;
	//margin: 0px;
	margin: 0px auto;
}

main {
	width: 900px;
	margin: 0px auto;
}

footer {
	margin: 0px auto;
	text-align: center;
}

section {
	margin: 50px auto;	
}

article p {
	text-indent: 50px;
	line-height: 150%;
	text-align: justify;
}

header, main, footer, section, article, small, p, h2, a {
	// background: blue;
}